<!-- <header>
  <h1>About Me</h1>
  <p>A little bit about myself...</p>
  <div class="search-container">
    <textarea id="search-bar" #searchText placeholder="Search my content..." aria-label="Search content"></textarea>
    <button id="search-button" (click)="searchResult(searchText.value)">Search</button>
  </div>
</header>

<main>
  <section id="content">
    <pre>
      {{searchResults()}}
    </pre>
  </section>
  <section id="search-results">
    </section>
</main> -->

<app-chat-bot></app-chat-bot>